body {text-align: center;
    background-color: rgb(240, 242, 243);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  }
  header, section, footer {max-width: 800px; margin-left: auto;margin-right: auto;}

  h1 {
    color: #0e63bd;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  .footer_list { 
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: center;
    }
    .footer_list li {
        margin: 0 5px;
    }
    .footer_list li::after{
        content: "|";
        height: 100%;
        padding: 0 5px;
        margin-left: 13px;
    }
    .footer_list li:last-child::after{
        content: "";
    }
    footer {
            background-image: linear-gradient(180deg, rgb(65, 65, 65), rgb(0, 0, 0));
        color: white;
        padding: 10px;
        padding-bottom: 10px;
    }
    .footer_date {
        color: slategray;
    }
    section {
        padding: 10px 10px 30px 10px;
    }
    .hr {
        width: 80%;
        margin: 0 auto;
        border: 1px solid red;
    }
    .h2_style{
        height: 31px;
        font-weight: normal;
    }